/* .feature-wrapper {
    padding: 120px 0;
} */
.single-feature-box {
    border-radius: 10px;
    background-color: #CDB4DB;
    /* box-shadow: 8.135px 18.271px 40px 0 rgb(0 0 0 / 8%); */
    padding: 60px 50px 75px;
    transition: all .4s;
    text-align: center;
}

.single-feature-box:hover {
    transform: translateY(-10px);
}

.icon-box {
    display: flex;
    width: 103px;
    height: 68px;
    align-items: flex-end;
    text-align: center;
    margin: 0 auto 45px;
}

.icon-box img {
    display: inline-block;
    margin: 0 auto;
    height: 80px;
    width: 80px;
    border:2px solid black;
    border-radius: 10px;
    background-color: #fff;
    padding: 2px;
    box-shadow: 0 0 20px rgb(0 0 0 / 8%);
}

.single-feature-box h3 {
    margin-bottom: 10px;
    font-size: 24px;
    line-height: 36px;
    font-family:  sans-serif;
    color:black;
}

.single-feature-box p {
    color: black;
    font-size:20px;
    font-family: serif;
}


/* for mobile responsive */
@media only screen and (max-width: 426px){
    .feature-wrapper {
        padding: 50px 0;
    }
}